/* @import url(../fonts/cm/serif/cmun-serif.css); */
/* @import url(../fonts/cm/concrete/cmun-concrete.css); */
/* @import url(../fonts/cm/typewriter/cmun-typewriter.css); */
@import url(../fonts/fa/css/font-awesome.min.css);

@import url(../fonts/inter/inter.css);

:root {

    /* For softer text */
    --white: #fff;
    --off-black: #100c08;
    --color1: #fed530;
    --color2: #3980da;

    /* BG colors */
    /* --page-bg-color: #fdfff0; */
    --page-bg-color: var(--white);
}

body {
    /* font-family: "Computer Modern Serif", Serif; */
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'tnum' 1;
    background-color: var(--page-bg-color);
    font-size: 10pt;
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }


/*
 * Edit view overall container. Time view on left side, dishes on right side.
 */
.editContainer {
    display: flex;
    flex-direction: row;
}

/*
 * Edit view left side: time. Each day can take up one row.
 */
.editTime {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

/*
 * Edit view right side: dishes. We organize them by meals. Each meal takes up
 * two rows: one for the meal title, the next for all the dishes.
 */
.editDishes {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-right: 120px;

    /* these rules allow independent scrolling to access later dishes while still
    viewing the whole week. */
    overflow: scroll;
    /* height: 1100px; */
    height: 100vh;
}

.editDishes h1 {
    margin-bottom: 0px;
}

/**
 * In the edit view, on the right side where all the dishes are, within a meal's
 * two columns, in the second column, are all the dishes. Each dish is a little
 * card, and they should flow naturally.
 */
.editMealDishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
 * In the edit view, dishes appear both in the time view (left) and dish
 * inventory (right).
 */
.editDish {
    width: 75px;
    height: 75px;
    background-color: #fcfcfc;
    margin: 5px;
    padding: 5px;
    border-top: 2px solid var(--color1);
    /* box-shadow: -4px 4px 2px -2px grey; */
    position: relative;
}

.editDish:hover {
    background-color: var(--color1);
    cursor: grab;
    transition: all 0.2s ease-out;
}

/* .editDish img { */
img {
    width: 75px;
    height: 75px;
}

.editDish .calOverlay {
    font-size: 14px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 2px;
    bottom: 8px;
    z-index: 2;
    /* margin-top: -23px; */
    margin-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 6px;
}

.tooltip {
    width: 200px;
    visibility: hidden;
    background: var(--color1);
    color: var(--off-black);
    text-align: center;
    padding: 8px;
    /* border-radius: 6px; */
    position: absolute;
    z-index: 3;
    border: 3px solid var(--off-black);
    transition: transform 0.2s ease-out;
}

.tooltip.left {
    right: 100%;
}

.tooltip hr {
    /* border-top: 1px solid var(--off-black); */
    border-style: solid;
}


/* These give the tooltip a slight rise when they appear. */
.editDish:hover .tooltip,
.dish:hover .tooltip,
.dishCard:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
}

/* These prevent the tooltip from blocking mouse movement */

/* .dish span.tooltip:hover, */
/* .dishCard span.tooltip:hover, */
.editDish span.tooltip:hover
{
    visibility: hidden;
}

/*
 * Rows are the day name, and then the meals.
 */
 .editDay {
    display: flex;
    flex-direction: column;
    background-color: var(--page-bg-color);
    margin-bottom: 10px;
    /* border: 1px solid #100c08; */
}

.editDay p {
    margin: 4px;
}

.editDay .editDayName {
    font-weight: normal;
    font-size: 16px;
    /* display: inline; */
}

.editDay .editDayCalories {
    font-weight: lighter;
    font-size: 16px;
    /* display: inline; */
}

.tooltip .recipeLink {
    color: var(--off-black);
}

/**
 * The meals are laid out horizontally.
 */
.editDayMeals {
    display: flex;
    flex-direction: row;
}

.editDayMeal {
    /* As a flex item, the meals should fill to take they day's space so they
    can be effective drop zones for dragging and dropping dishes from the
    inventory on the right. */
    flex-grow: 1;

    /* As a flex container, a meal contains a row for the dishes, and a row for
    the name of the meal and its calories. */
    display: flex;
    flex-direction: column;
    background-color: var(--page-bg-color);
    margin: 2px;
    border: 1px solid #100c08;
}

[drop-active=on] {
    background-color: var(--color2);
    color: var(--white);
}

.controlPanel {
    margin-bottom: 15px;
}


/**
 * In the edit view, on the left (time), this contains the dishes for a meal in
 * a day.
 */
 .editDayMealsDishes {
    display: flex;
    flex-direction: row;
    /* Min-height set so it can be a drag'n'drop zone. */
    min-height: 50px;
}

.editDayMeal .meal {
    /* font-weight: bold; */
    font-weight: normal;
}

.editDayMeal .calories {
    /* font-style: italic; */
    font-weight: lighter;
}


/* For all dishes view */

.meal {
    padding-top: 50px;
    max-width: 100%;
    clear: both;
}

.meal h1 {
    font-size: 60pt;
    font-family: sans-serif;
}

.dishCard {
    /* width: 250px; */
    float: left;
    /* height: 435px; */
    /* background-color: #fcfcfc; */
    margin: 7px;
    padding: 5px;
    padding-top: 7px;
    /* box-shadow: -10px 10px 6px -6px grey; */

    width: 170px;
    height: 225px;
    border-top: 3px solid var(--color1);
    position: relative;
}

.dishCard:hover {
    transition: all 0.2s ease-out;
    background-color: var(--color1);
}

.dishCard img {
    width: 150px;
    height: 150px;
}

.dish img {
    width: 150px;
    height: 150px;
}

.recipeLink {
    color: #100c08;
}


/* Display week and day views */

.weekContainer {
    zoom: 1;
    margin-bottom: 10px;
}

.weekContainer:before, .weekContainer:after {
    content: " ";
    display: table;
}

.weekContainer:after {
    clear: both;
}

/*
 * Day (Monday)
 */
.day {
    width: 240px;
    /* box-shadow: -10px 10px 6px -6px grey; */
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #100c08;
    float: left;
    /* height: 1200px; */
}

/**
 * Bigger if solo view!
 */
.day.solo {
    width: 500px;
    float: none;
    margin: 0 auto;
}

/* Day of the week (Monday) */
.day h1 {
    text-align: center;
    margin-bottom: 0px;
}

/* Meal titles (Breakfast) */
.day h2 {
    font-weight: normal;
    margin-bottom: 0px;
}

/* More space on solo day view*/
.day.solo > h2 {
    margin-top: 50px;
}

/* Meal calroire counts (260 calories) */
.day h3 {
    font-size: 11pt;
    margin-top: -3px;
    font-weight: lighter;
    /* font-style: italic; */
}

/* Calorie total */
.day h4 {
    text-align: center;
    margin-top: -5px;
    font-weight: normal;
    /* font-style: italic; */
}



/*
 * Dish (Banana Pancakes)
 */
.dish {
    /* box-shadow: -5px 5px 3px -3px #ff8300; */
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: var(--white);
    border-top: 3px solid var(--color1);
}

.dish:hover {
   background-color: var(--color1);
}

.dish table {
    width: 100%;
    margin-bottom: 10px;
}

.dishCard img {
    padding: 5px;
}

.dish tr, .dishCard tr {
    line-height: 1.1;
}

/* Name of dish (Banana Pancakes */
.dish h1, .dishCard h1 {
    font-size: 12pt;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    word-wrap: normal;
    font-weight: normal;
}

/* Dish calories (260 calories) */
.dish h2, .dishCard h2 {
    font-size: 10.5pt;
    text-align: left;
    margin-top: 1px;
    font-weight: lighter;
    /* font-style: italic; */
}

.dishCard .txtHeader {
    height: 40pt;
}

/* Ingredient calories (140) */
.calorieCell {
    text-align: right;
}


/* Ingredient desc (2 eggs) */
.ingredientCell {
    width: 100%;
    padding-left: 10px;
    text-align: left;
}


/**
 * Ya
 */
.groceryListOuter {
    /* background-color: #A9CEF4; */
    clear: left;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border: 1px solid #100c08;
}

.groceryListInner {
    background-color: #fff;
    padding: 10px;
}

.quantity {
    text-align: right;
}
