@import url(../fonts/cm/serif/cmun-serif.css);
@import url(../fonts/cm/concrete/cmun-concrete.css);
@import url(../fonts/cm/typewriter/cmun-typewriter.css);
@import url(../fonts/fa/css/font-awesome.min.css);

body {
    font-family: "Computer Modern Serif", Serif;
    background-color: #eb5e66;
    font-size: 10pt;
}

/* Edit view */


.trashContainer {
    width: 100%;
    height: 50px;
    background-color: grey;
    margin: 10px;
}

/*
 * Edit view overall container. Time view on left side, dishes on right side.
 */
.editContainer {
    display: flex;
    flex-direction: row;
}

/*
 * Edit view left side: time. Each day can take up one row.
 */
.editTime {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

/*
 * Edit view right side: dishes. We organize them by meals. Each meal takes up
 * two rows: one for the meal title, the next for all the dishes.
 */
.editDishes {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/**
 * In the edit view, on the right side where all the dishes are, within a meal's
 * two columns, in the second column, are all the dishes. Each dish is a little
 * card, and they should flow naturally.
 */
.editMealDishes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
 * In the edit view, dishes appear both in the time view (left) and dish
 * inventory (right).
 */
.editDish {
    width: 75px;
    height: 75px;
    background-color: #fcfcfc;
    margin: 5px;
    padding: 5px;
    box-shadow: -4px 4px 2px -2px grey;
}

.editDish img {
    width: 75px;
    height: 75px;
}

.editDish .tooltip {
    width: 200px;
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.editDish:hover .tooltip {
    visibility: visible;
}

/*
 * Rows are the day name, and then the meals.
 */
 .editDay {
    display: flex;
    flex-direction: column;
    background-color: #ffff99;
    margin-bottom: 5px;
}

.editDay p {
    margin: 2px;
}

/**
 * The meals are laid out horizontally.
 */
.editDayMeals {
    display: flex;
    flex-direction: row;
}

.editDayMeal {
    /* As a flex item, the meals should fill to take they day's space so they
    can be effective drop zones for dragging and dropping dishes from the
    inventory on the right. */
    flex-grow: 1;

    /* As a flex container, a meal contains a row for the dishes, and a row for
    the name of the meal and its calories. */
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 2px;
}

/**
 * In the edit view, on the left (time), this contains the dishes for a meal in
 * a day.
 */
.editDayMealsDishes {
    display: flex;
    flex-direction: row;
    /* Min-height set so it can be a drag'n'drop zone. */
    min-height: 50px;
}

/* For all dishes view */

.meal {
    padding-top: 50px;
    max-width: 100%;
    clear: both;
}

.meal h1 {
    font-size: 24pt;
    font-family: sans-serif;
}

.dishCard {
    max-width: 350px;
    float: left;
    height: 250px;
    background-color: #fcfcfc;
    margin: 10px;
    padding: 10px;
    box-shadow: -10px 10px 6px -6px grey;
}

/* Display week and day views */

/*
 * Day (Monday)
 */
.day {
    width: 240px;
    box-shadow: -10px 10px 6px -6px #ff8300;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    background-color: #ffff99;
    float: left;
    /* height: 1200px; */
}

/**
 * Bigger if solo view!
 */
.day.solo {
    width: 500px;
    float: none;
    margin: 0 auto;
}

/* Day of the week (Monday) */
.day h1 {
    text-align: center;
    margin-bottom: 0px;
}

/* Meal titles (Breakfast) */
.day h2 {
    margin-bottom: 0px;
}

/* More space on solo day view*/
.day.solo > h2 {
    margin-top: 50px;
}

/* Meal calroire counts (260 calories) */
.day h3 {
    font-size: 11pt;
    margin-top: -3px;
    /* font-style: italic; */
}

/* Calorie total */
.day h4 {
    text-align: center;
    margin-top: -5px;
    /* font-style: italic; */
}



/*
 * Dish (Banana Pancakes)
 */
.dish {
    box-shadow: -5px 5px 3px -3px #ff8300;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #ffffff;
}

.dish table {
    width: 100%;
}

.dish tr, .dishCard tr {
    line-height: 1.0;
}

/* Name of dish (Banana Pancakes */
.dish h1, .dishCard h1 {
    font-size: 12pt;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Dish calories (260 calories) */
.dish h2, .dishCard h2 {
    color: #333;
    font-size: 10.5pt;
    text-align: left;
    margin-top: -3px;
    margin-bottom: 10px;
    /* font-style: italic; */
}

/* Ingredient calories (140) */
.calorieCell {
    text-align: right;
}


/* Ingredient desc (2 eggs) */
.ingredientCell {
    width: 100%;
    padding-left: 10px;
    text-align: left;
}


/**
 * Ya
 */
.groceryListOuter {
    background-color: #A9CEF4;
    clear: left;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.groceryListInner {
    background-color: #fcfcfc;
    padding: 10px;
}

.quantity {
    text-align: right;
}
