@import url(../fonts/cm/serif/cmun-serif.css);
@import url(../fonts/cm/concrete/cmun-concrete.css);
@import url(../fonts/cm/typewriter/cmun-typewriter.css);
@import url(../fonts/fa/css/font-awesome.min.css);

body {
    font-family: "Computer Modern Serif", Serif;
    background-color: #E1DEE9;
    font-size: 10pt;
}

/*
 * Day (Monday)
 */
.day {
    width: 240px;
    box-shadow: -10px 10px 6px -6px #777;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    background-color: #A9CEF4;
    float: left;
    /* height: 1200px; */
}

/* Day of the week (Monday) */
.day h1 {
    text-align: center;
    margin-bottom: 0px;
}

/* Meal titles (Breakfast) */
.day h2 {
    margin-bottom: 0px;
}

/* Meal calroire counts (260 calories) */
.day h3 {
    font-size: 11pt;
    margin-top: -3px;
    /* font-style: italic; */
}

/* Calorie total */
.day h4 {
    text-align: center;
    margin-top: -5px;
    /* font-style: italic; */
}



/*
 * Dish (Banana Pancakes)
 */
.dish {
    box-shadow: -5px 5px 3px -3px #777;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #fcfcfc;
}

.dish table {
    width: 100%;
}

.dish tr {
    line-height: 1.0;
}

/* Name of dish (Banana Pancakes */
.dish h1 {
    font-size: 12pt;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Dish calories (260 calories) */
.dish h2 {
    color: #333;
    font-size: 10.5pt;
    text-align: left;
    margin-top: -3px;
    margin-bottom: 10px;
    /* font-style: italic; */
}

/* Ingredient calories (140) */
.calorieCell {
    text-align: right;
}


/* Ingredient desc (2 eggs) */
.ingredientCell {
    width: 100%;
    padding-left: 10px;
    text-align: left;
}


/**
 * Ya
 */
.groceryListOuter {
    background-color: #A9CEF4;
    clear: left;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.groceryListInner {
    background-color: #fcfcfc;
    padding: 10px;
}

.quantity {
    text-align: right;
}
